{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'ck/ckeditor.js' %}"></script>
    <style>
        button{
            margin-top: 8px;
            text-align: center;
        }
    </style>
    <title>创建新笔记</title>
</head>
<body>
    {% include 'NAV_BAR.html' %}
{# ================================================================================================================= #}


    <form method="post">{% csrf_token %}
        <div class="input-group mb-3" style="padding-right: 6px; padding-left: 6px; margin-top: 6px">
            <div class="input-group-prepend">
                <span class="input-group-text">标题</span>
            </div>
            <input type="text" class="form-control" name="title" placeholder="笔记标题">
        </div>
        <div style="padding-left: 6px; padding-right: 6px">
            <textarea name="note" id="note">开始你的创作</textarea>
        </div>
        <div style="padding-right: 6px; padding-left: 6px;text-align: right">
            <button type="submit" class="btn btn-outline-primary">保存</button>
        </div>
    </form>
{# ================================================================================================================= #}
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>CKEDITOR.replace('note');</script>
</body>
</html>